@media only screen and (max-width: 800px) {
    header{
        height: 25vw;
    }
    header h1{
        display: flex;
        align-items: center;
        font-size: 10vw;
    }
    .headerComponents{
        font-size: 2vw;
    }
  }